appscript==1.1.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
httplib2==0.18.0
idna==2.8
ipykernel==5.1.0
ipython==7.4.0
ipython_genutils==0.2.0
ipywidgets==7.4.2
jupyter==1.0.0
jupyter_client==5.2.4
jupyter_console==6.0.0
jupyter_core==4.4.0
jupyterlab==0.35.4
jupyterlab_server==0.2.0
numpy==1.17.3
oauthlib==3.1.0
pandas==0.25.2
psutil==5.6.3
pyasn1==0.4.7
pyasn1-modules==0.2.7
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
uritemplate==3.0.0
urllib3==1.25.6
xlwings==0.16.0
